// Font Awesome

$fa-font-path:	"../fonts";

// Loading Screen

$loading-screen-background: #666;

// Slick Slider

$slick-font-path: "../fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../images/" !default;
$slick-arrow-color: white !default;
$slick-dot-color: #fff !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 12px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.7 !default;

$slider-caption-background: theme-color('primary');
$slider-dot-bottom-offset: 15px;
$slick-dot-height: 25px;
$slick-dot-width: 25px;
$slick-dot-line-height: 25px;

$slick-arrow-offset: 15px;
$slick-arrow-z-index: 2;

// Gravity Form

$gform-max-width: 100%;
$gform-label-display: false;
$gform_submit_button: 'primary';

$slick-arrow-position:						25px;
$slick-arrow-font-weight:					400;
$slick-arrow-font-size:						20px;