.btn-white:hover {
	background-color: #212529;
	color: #fff;
}

.cta-block-btn {
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	&:hover {
		background-color: #fff;
		color: theme-color('dark');
		border: 1px solid theme-color('dark');
	} 
}

.flexible_call-to-action {
	.button a {
		@extend .cta-block-btn;
	}
}

.btn-dark:hover {
	background:#fff;
	color: theme-color('dark');
}

.lg-collapse{
	.collapse-item{
		margin-bottom: 15px !important;
		box-shadow: 0 3px 6px #bfbbbb;

		>div{
			line-height: 1.5 !important;
		}

		&.active{
			h2::before{
				display: block;
			}
			h2::after{
				display: none;
			}
		}
		h2::after{
		    font-family: "Font Awesome 5 Free";
		    content: '\f107';
		    font-weight: 900;
		    float: right;
		    font-size: 20px;
		}
		h2::before{
		    font-family: "Font Awesome 5 Free";
		    content: '\f106';
		    font-weight: 900;
		    float: right;
		    font-size: 20px;
		    display: none;
		}

		i{
			margin-right: 15px;
		}
	}
}

.service-gallery{
	.slick-slide{
		position: relative;
		margin: 0 15px;
		img{
			@extend .img-full;
			height: 300px;
			object-fit: cover;
			@include media-breakpoint-down(sm){
				height: 200px;
			}
		}

		&.slick-current .overlay:hover{
				opacity: 1;
		}
		.overlay{
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			transition: opacity .6s ease-out 0s;
			display: flex;
			background-color: rgba(0, 0, 0, .5);
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

.featured-project{
	>div{
		position: relative;
		.overlay{
			opacity: 0;
			position: absolute;
			background-color: rgba(0, 0, 0, .5);
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			transition: opacity .6s ease-out 0s;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&:hover{
				opacity: 1;
			}
		}
	}
}

.lg-testimonial{
	background-color: transparent !important;
	>h2{
		@extend .font-weight-bold;
	}
	blockquote{
		font-size: 1rem;
	}
}

.featured-gallery{
	.grid-sizer, .single-gallery{
		width: 10%;
		padding: 10px;

		@include media-breakpoint-down(sm){
			width: 50% !important;
			height: 200px !important;
		}
		@include media-breakpoint-down(xs){
			width: 100% !important;
		}
	}
	.width-1{
		width: 10%;
	}
	.width-2{
		width: 20%;
	}
	.width-3{
		width: 30%;
	}
	.width-4{
		width: 40%;
	}
	.width-5{
		width: 50%;
	}
	.width-6{
		width: 60%;
	}
	.width-7{
		width: 70%;
	}
	.width-8{
		width: 80%;
	}
	.width-9{
		width: 90%;
	}
	.width-10{
		width: 100%;
	}
	.height-1{
		height: 250px;
	}
	.height-2{
		height: 500px;
	}
}

.tab-filter-a{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	@extend .mb-1;

	>div{
		@extend .btn;
		@extend .mx-3;
		@extend .mb-3;

		&.active{
			@extend .btn-dark;
		}

		&:not(.active){
			@extend .btn-white;
		}
	}
}

.slick-slider{
	.slick-prev:before, .slick-next:before{
		font-family: "Font Awesome 5 Free"; 
		font-weight: 900;
		font-size: 35px;
	}
	.slick-prev:before{
		content: '\f053';
	}	
	.slick-next:before{
		content: '\f054';
	}
	.slick-prev{
		left: 25px;
	}
	.slick-next{
		right: 25px;
	}
}

.mega-menu-item a{
	font-size: 10px !important;
	@include media-breakpoint-up(lg){
		font-size: 12px !important;
	}
	@include media-breakpoint-up(xl){
		font-size: 13px !important;
	}
}

.mega-menu-toggle{
	display: none !important;
}

@include media-breakpoint-down(sm){
	#mega-menu-wrap-top-nav{
		width: 100%;
	}
	#mega-menu-top-nav{
		padding: 15px 0 !important;
	}
}

@include media-breakpoint-up(md){
	#mega-menu-wrap-top-nav{
		background: transparent !important;
		#mega-menu-top-nav{
			>li{
				&.mega-menu-item-has-children.mega-toggle-on{
					>.mega-menu-link::after{
					    display: block !important;
					    content: '' !important;
					    width: 0;
					    height: 0;
					    border-left: 15px solid transparent;
					    border-right: 15px solid transparent;
					    border-bottom: 13px solid #fff;
					    position: absolute;
					    bottom: 0px;
					    left: calc(50% - 13px );
					    margin-left: 0 !important;
					}
				}
				.mega-sub-menu{
					padding: 30px 0px !important;
				}
				>.mega-menu-link{
					background: transparent !important;
					line-height: normal !important;
					height: auto !important;
					padding: 20px 10px !important;
					&::after{
						display: none !important;
					}
				}
				>.mega-sub-menu{
					left: calc( -320px + 50% ) !important;
					background-color: #ececec !important;
					width: 320px !important;

					>li{
						position: static !important;
						>a{
							background-color: #ececec !important;
						}
					}
					.mega-sub-menu{
						height: 100%;
						background-color: #c3c3c3 !important;
						width: 320px !important;
						li{
							a{
								background-color: #c3c3c3 !important;
							}
						}
					}
					.mega-menu-item:not(.mega-toggle-on){
						.mega-menu-link{
							&::after{
								display: none !important;
							}
						}
					}
					.mega-menu-link{
						padding: 0 30px !important;
					}
					.mega-menu-link::after{
						content: "" !important;
						width: 0; 
						height: 0; 
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent; 
						border-right:12px solid #c3c3c3; 
						position: absolute !important;
					    right: 0 !important;
					    top: 8px !important;
					}
				}
			}
		}
	}
}

.site-gallery{
	display: flex;
	flex-wrap: wrap;
	>div{
		width: 100%;
		padding: 15px;
		box-sizing: border-box;
		height: 300px;

		img{
			@extend .img-fit;
			cursor: pointer;
		}
		
		@include media-breakpoint-up(sm){
			width: 50%;
		}

		@include media-breakpoint-up(md){
			width: 33.33%;
		}

		@include media-breakpoint-up(lg){
			width: 25%;
			height: 300px;
		}
	}
}

.gallery-modal-wrap{
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.4);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	display: none;
	.gallery-modal{
		@extend .container;
		height: 300px;
		width: 300px;
		overflow: hidden;
		position: relative;

		// @include media-breakpoint-up(md){
		// 	height: 400px;
		// 	width: 400px;
		// }

		.gallery-close{
			position: absolute;
		    right: 15px;
		    top: 0;
		    padding: 10px 15px;
		    cursor: pointer;
		    background-color: theme-color('dark');
		    color: #fff;
		    &:hover{
		    	color: #fff;
		    }
		}

		.images{
			width: 100%;
			height: 100%;
			img{
				@extend .img-fit;
			}
		}
	}
}

.single-specialty{
	&.active{
		>div{
			box-shadow: 0 2px 6px #e8e8e8;
		}
		.description{
			background-color: #fff;
		}
	}
}