html, body {
	max-width: 100%;
	overflow-x: hidden;
}

input, textarea { 
	&::placeholder {
		padding: 10px;
	}
	padding-top: 10px;
	padding-bottom: 10px;
}

input[type=submit]{
	&:hover {
		background: #fff;
		color: theme-color('dark');
	}
	font-size: 15px;
}

hr.lg{
	margin-top: $hr-margin-y * 3;
	margin-bottom: $hr-margin-y * 3;
}

.terms-and-conditions {
	ol li {
		margin-bottom: 1rem;
	}
}

.container-sm{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.btn-white-transparent{
	color: #fff;
	border: 1px solid #fff;
	&:hover{
		border: 1px solid theme-color('dark');
		background: theme-color('dark');
		color: #fff;
	}
}

.lg-social-media-cont{
	.lg-social-media{
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		li{
			a{
				padding: 0 5px;
			}
		}
	}
}

.home{
	.top-banner{
		img{
			width: 100%;
			height: 500px;
			object-fit: cover;
		}
	}
}

.top-banner{
	position: relative;
	.gform_wrapper ul.gform_fields li.gfield {
		padding-right: 0;
	}
	.slick-dots {
		bottom: 20px;
		z-index: 50;
		> li:only-child {
	        display: none;
	    }
		li button:before {
			font-size: 10px;
			color: #fff;
		}
	}
	img{
		width: 100%;
		height: 400px;
		object-fit: cover;
	}

	.overlay{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@extend .px-5;
		padding-top: 50px;
		padding-bottom: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
			padding: 10px 5px;
		}

		>div:first-child{
			max-width: 600px;
		}
		>div:nth-child(2){
			width: 300px;
			padding: 5px 20px;
			background-color: rgba(255,255,255,.7);
			.gform_title{
				@extend .text-dark;
				@extend .text-center;
				@extend .h3;
				@extend .font-weight-bold;
			}

			.gform_footer{
				input[type=submit]{
					@extend .btn-dark;
					font-size: 15px;
					&:hover {
						color: theme-color('dark');
						background: #fff;
					}
				}
			}

			display: none;

			@include media-breakpoint-up(md){
				display: flex;
			}
		}

		h1{
			text-shadow: 1px 2px 3px theme-color('dark');
		}
	}

	.gform_wrapper{
		width: 100%;
		.gform_heading{
			text-align: center;
		}
	}
}

.btn-white{
	border: 1px solid theme-color('dark');
}

.flexible_call-to-action {
	.copy {
		h2, h3, h4, h5, h6 {
			font-size: 1.5rem;
		}
	}
}

.grid-2-column{
	.text-editor{
		@extend .px-md-5;
		@extend .p-3;
	}
}

.why-choose-us-content{
	.flexible_grid{
		>div{
			padding: 30px !important;
		}
	}
}


.contact-us{
	
	.grid-2-column {
		.text-editor a {
			position: relative;
			&:before {
				content: "";
		  		position: absolute;
		  		width: 100%;
		  		height: 2px;
		  		bottom: -5px;
		  		left: 0;
		  		background: theme-color('dark') !important;
		  		visibility: hidden;
		  		-webkit-transform: scaleX(0);
		  		transform: scaleX(0);
		  		-webkit-transition: all 0.3s ease-in-out 0s;
		  		transition: all 0.3s ease-in-out 0s;
			}
			&:hover:before {
				visibility: visible;
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
			}
		}
	}

	.gform_wrapper input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']){
		padding: 10px 5px;
	}
	.gform_footer{
		input[type=submit]{
			&:hover {
				color: theme-color('dark');
				background: #fff;
			}
			@extend .btn-dark;
		}
	}
}

.portfolios{
	display: flex;
	flex-wrap: wrap;
	min-height: 350px;

	.grid-sizer{
		width: 33.33%;
		display: block !important;

		@include media-breakpoint-up(sm){
			width: 50%;
		}


		@include media-breakpoint-up(md){
			width: 33.33%;	
		}
	}

	>div{
		box-sizing: border-box;
		width: 100%;
		display: none;
		padding: 15px;
		
		>div{
			box-shadow: 0px 1px 6px theme-color('dark');
		}

		.image{
			position: relative;
			.overlay{
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				padding: 30px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				opacity: 0;
				transition: opacity .6s ease-out 0s;
				background-color: rgba(0,0,0,.3);
				color: #fff;

				&:hover{
					opacity: 1;
				}
			}
		}

		&.single-portfolio{
			display: block;
		}

		@include media-breakpoint-up(sm){
			width: 50%;
		}


		@include media-breakpoint-up(md){
			width: 33.33%;	
		}

		a{
			position: relative;
			display: inline-block;
			img{
				width: 100%;
				transition: opacity .3s ease-in-out 0s;

				&.alt{
					position: absolute;
					width: 100%;
					left: 0;
					top: 0;
					opacity: 0;
				}
			}
		}

	}
}

.services-intro-image{
	max-height: 250px;
}

.specialties {
	.active .description {
		@extend .px-4;
	} 
}

.service-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	>div{
		width: 100%;
		box-sizing: border-box;
		padding: 5px 30px;

		&.active{
			.service-title{
				&::before{
					display: block;
				}

				&::after{
					display: none;
				}
			}
			.service-short-description{
				margin-bottom: 50px;
			}
		}

		.service-short-description{
			display: none;
		}

		.service-title{
			padding-bottom: 20px;
			margin-bottom: 25px;
			border-bottom: 1px solid #e6e6e6;
			position: relative;

			&::before, &::after{
				font-family: "Font Awesome 5 Free"; 
			 	font-weight: 900; 
			 	position: absolute;
			 	top: 0;
			 	right: 10px;
			 	cursor: pointer;
			 	color: theme-color('gray');
			}

			&::before{
			 	content: "\f077";
			 	display: none;
			}

			&::after{
			 	content: "\f078";
			}

			.service-icon{
				img{
					width: 20px;
					height: 20px;
					object-fit: cover;
				}
			}
		}

		@include media-breakpoint-up(md){
			width: 50%;
		}
	}
}