#site-footer{
	.footer-quick-links a, .footer-contact a, #site-legal a {
		position: relative;
		cursor: pointer;
		&:before {
			content: "";
  			position: absolute;
  			width: 100%;
  			height: 2px;
  			bottom: -5px;
  			left: 0;
  			background: #fff;
  			visibility: hidden;
  			-webkit-transform: scaleX(0);
  			transform: scaleX(0);
  			-webkit-transition: all 0.3s ease-in-out 0s;
  			transition: all 0.3s ease-in-out 0s;
		}
		&:hover:before {
			visibility: visible;
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
	}
	.footer-wrapper {
		padding: 50px 50px;
		.row > div {
			@extend .pb-5;
		}
		.footer-ig {
			.footer-social-media {
				display: flex;
				align-items: baseline;
				hr {
					width: 100%;
					border-top: 1px solid white;
					margin-left: 10px;
				}
			}
		}
	}
	color: white;
	.footer-title {
		@extend .mb-4;
	}
	.menu {
		list-style: none;
		padding-left: 0;
		@extend .text-uppercase;
	}
	span, p, a{
		font-size: 13px;
		color: white;
	}
}