.utility-phone {
	font-size: 12px;
	padding: .5rem 1.3rem;
	&.btn-white {
		&:hover {
			color: #fff !important;
			i {
				color: #fff !important;
			}
		}
		@include media-breakpoint-down(xs){
			border: none;
			background-color: #fff;
			&:hover {
				i {
					color: #000 !important;
				}
			}
			padding: 0;
		}
	}
}

.header-main{
	>div{
		@include media-breakpoint-down(sm){
			position: relative;
		}
	}
}

#site-header .utility-bar .right {
	.switcher .option {
		position: absolute;
	}
	p {
		font-size: 14px;
	}
	.lg-social-media-cont {
		i {
			font-size: 14px;
		}
	}
} 

.main-navigation{
	#mega-menu-wrap-top-nav #mega-menu-top-nav > li.mega-menu-item:not(:last-child) {
		.mega-toggle-on {
			> ul >li > a:hover {
				font-weight: 900;
			}
			> a {
				font-weight: 900 !important;
			}
		}
		& > a.mega-menu-link {
			$menu_item_padding: 20px;
			cursor: pointer;
			@include media-breakpoint-up(md){
			position: relative !important;
			padding: 0;
			&:before {
				content: "";
		  		position: absolute;
		  		width: calc(100% - #{$menu_item_padding});
		  		height: 2px;
		  		bottom: 15px;
		  		left: calc($menu_item_padding / 2);
		  		background: #fff !important;
		  		visibility: hidden;
		  		-webkit-transform: scaleX(0);
		  		transform: scaleX(0);
		  		-webkit-transition: all 0.3s ease-in-out 0s;
		  		transition: all 0.3s ease-in-out 0s;
			}
				&:hover:before {
					visibility: visible;
					-webkit-transform: scaleX(1);
					transform: scaleX(1);
				}
			}
			
			}
		} 
	@include media-breakpoint-down(sm){
		z-index: 999;
	}
}

.mobile-navigation {
	width: 100%;
	background-color: #222; //#292929; 
	
	.navbar {
		#menu-mobile-menu {
			@extend .py-3;
			> li {

				&:hover {
					background-color: #292929;
				}
				> a {
					color: #fff;
					font-size: 13px;
					font-weight: 300;
					@extend .px-3;
				}
				.dropdown-menu {
					padding: 0;
					border-bottom: none;
					background: #f1f1f1;
					a {
						color: theme-color('dark');
						font-size: 13px;
						font-weight: 300;
						@extend .px-3;
						padding-top: 10px;
						padding-bottom: 10px;
						&:hover {
							background: #ddd;
						}
					}
				}
			}
		}
	}
}


.mobile-toggle{
	i{
		color: #fff;
	}
}

.header-phone{
	border: 1px solid #fff !important;
	color: #fff;
	padding: .5rem 1.3rem !important;
	@extend .ml-md-3;
	transition: all .3s ease-out .2s;

	&:hover{
		background-color: #fff;
		color: black;
	}

	@include media-breakpoint-down(sm){
		width: calc( 100% - 20px );
		margin: 0 10px;
	}
}