//Utility Bar

$utility-bar-background-color:				#fff;
$utility-bar-color:							inherit;
$utility-bar-padding:						10px 0;

$utility-bar-icon-color:					#000;
$utility-bar-icon-size:						13px;

/* Header */

$header-background-color:					#000;
$header-box-shadow:							0 0 5px #000;

$header-logo-width: 						150px;
$header-logo-width-sm: 						200px;
$header-logo-width-md: 						200px;

$mobile-toggle-size: 						25px;
$header-padding:							$spacer 0;
$nav-breakpoint-down:						'sm';
$nav-breakpoint-up:							'md';